* {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: var(--primary-dark);
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

h2 + p {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 218, 194, 1) 0%,
    rgba(255, 218, 194, 1) 50%,
    rgba(255, 251, 236, 1) 100%
  );
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-orange);
}

nav ul {
  display: flex;
  justify-content: space-evenly;

  li {
    align-items: center;
    list-style: none;
    margin: 0.5em;
  }

  a {
    font-size: 1.2rem;
    padding: 0.5em 1em;
  }
}

.hover-og {
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }
}

.hover-underline {
  display: inline-block;
  font-weight: 400;
  transition: transform 0.2s ease;
  overflow: hidden;
  position: relative;
  /* transition: transform 0.2s ease; */
}

.hover-underline:hover {
  /* transform: scale(1.2); */
  /* text-shadow: 0 0 1px var(--primary-dark); */
  /* font-weight: 700; */
}

.hover-underline::after,
.hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--primary-dark);
  bottom: 0px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.hover-underline::before {
  top: 0px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

nav img {
  width: 10%;
  margin: 8px 40px;
}

/* #topLogo {
  display: block;
} */

/* WELCOME */

header #welcome {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 2rem auto;
  /* section 2rem margin */

  div {
    text-align: left;

    h1 {
      font-size: 3rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    h1 span {
      display: block;
      color: var(--orange);
    }

    p {
      max-width: 50ch;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  img {
    border-radius: 5%;
    width: 50%;
    object-fit: cover;
    /* border: 5px solid var(--orange); */
    box-shadow: 0 4px 20px var(--primary-dark);
    /* box-shadow: 0 4px 20px var(--orange); */
  }
}

.button {
  text-decoration: none;
  color: var(--primary-light);
  background-color: var(--orange);
  font-size: 1.3rem;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 2rem;
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-dark);
  }
}

.iconBtn {
  display: inline-flex;
  gap: 0.5rem;
  margin-right: 1rem;
}

/* problem with icon hover */

/* INTRO */
#intro {
  background-color: var(--primary-light);
  padding-bottom: 3rem;
}

#intro > div {
  width: 50%;
  margin: 0 auto;
}

#cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.introCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  background-color: var(--primary-light);
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 4px 20px var(--primary-dark);

  p {
    max-width: 25ch;
    color: var(--red);
  }
}

.introCard i {
  font-size: 3rem;
}

/* CATS */
#cats {
  background-color: var(--light-orange);
}

.buttonContainer {
  text-align: center;
}

#catsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.catCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary-light);
  /* border: 2px solid blue; */
  border-radius: 5%;
  height: 600px;
  /* width: 33%; */

  img {
    width: 100%;
    /* flex: 0 0 60%; */
    height: 80%;
    /* aspect-ratio: 4/3; */
    object-fit: cover;
    border-radius: 5% 5% 0% 0%;
  }
}

.catInfo {
  flex: 1;
  padding: 1rem;
}

#mittens {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5%;
  height: 500px;
  overflow: hidden;
}

/* Mittens Background image */
#mittens::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/tabby.jpg) center / 100% no-repeat;
  transition: background-size 0.3s ease;
  z-index: 0;
}

/* Color overlay */
/* #mittens::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fffbec25; 
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
} */

/* Hover effects */
#mittens:hover::before {
  background-size: 110%;
}

/* #mittens:hover::after {
  opacity: 0;
} */

#mittens:hover #mittensInfo {
  opacity: 1;
}

#mittensInfo {
  position: relative; /* needed for z-index */
  z-index: 2; /* above ::before and ::after */
  opacity: 0; /* hidden by default */
  transition: opacity 0.3s ease;
  text-align: center;
  background-color: #fffbec8e;
  width: 100%;
  padding: 0.5rem;
}

/* TREATS */

#treats {
  height: 500px;
  background-image: linear-gradient(#fffbec2d), url("/images/coffee-med.jpg");
  background-image: url("/images/coffee-med.jpg");
  background-position: center 85%;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#treatsTitle {
  padding-bottom: 2rem;
  width: 40%;
  margin: 0 auto;
  background-color: #fffbec8e;
  border-radius: 5px;
}

/* VISIT */

#visit {
  background-color: var(--primary-light);
  padding-bottom: 3rem;
}

#visitContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  width: 60%;

  #infosVisit,
  #code {
    border-radius: 15px;
    width: 50%;
    padding: 2rem;
    box-shadow: 0 4px 20px var(--primary-dark);

    h3 {
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}

#infosVisit ul {
  list-style: none;
  /* border: 2px solid blue;
  width: 50%;
  margin: 0 auto; */
}

.infoItem {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  i {
    font-size: 1.3rem;
    gap: 0.5rem;
    margin-right: 1rem;
  }

  span {
    font-weight: bold;
    display: block;
  }

  address {
    font-style: normal;
  }

  a {
    text-decoration: none;
  }
}

#code {
  p {
    padding-bottom: 1rem;
  }

  ul {
    list-style-position: inside;
  }

  li:last-of-type {
    padding-bottom: 2rem;
  }
}

/* FOOTER */
footer {
  display: flex;
  background-color: var(--light-orange);
  padding: 1rem;
}

#footerLogoContainer {
  /* border: 2px solid red; */
  width: 30%;
  text-align: center;
}

#footerLogoContainer img {
  width: 50%;
}

#footerContainer {
  /* border: 2px solid red; */
  width: 80%;
  margin: 0 auto;
  /* flex: 1; */
  display: flex;
}

.footerColumn {
  flex: 1;
  /* border: 2px solid red; */

  ul {
    list-style-position: inside;
  }

  h3 {
    padding: 0.5rem 0;
  }

  p {
    max-width: 30ch;
    padding-bottom: 0.5rem;
  }

  i {
    font-size: 2rem;
    padding: 0.5rem;
  }
}
